jwt:
  header: Authorization
  secretKey: dGVzdGtleS1ob21lYnJld2NsdWItd2Vic2l0ZS1zZWNyZXRLZXk=
  refreshKey: dGVzdGtleS1ob21lYnJld2NsdWItd2Vic2l0ZS1zZWNyZXRLZXk=
  # secretKey : 'testkey-homebrewclub-website-secretKey' ? base64? ???? ?
  ## ??? gitignore? ???, secretKey? ?? ?.

spring:
  data:
    redis:
      host : localhost
      port : 6379

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/testlogin?useUnicode=true&serverTimezone=Asia/Seoul
    username: user1
    password: 1234
    driver-class: com.mysql.cj.jdbc.Driver

#  profiles: local # 로컬환경에서만 사용하기
#
server:
  ssl:
    enabled: true
    key-store: keystore.p12
    #    key-store: classpath:keystore.p12(로컬뿐 아닌 개발서버에서도 사용하려면)
    key-store-password: 123456
    key-store-type: PKCS12
    key-alias: bns-ssl
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG